<div class="container" (resized)="onResized($event)" (contextmenu)="onContextMenu()">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="form-group">
        <label>Object name</label>
        <input class="mousetrap" type="text" [formControl]="object_name" (change)="onNameChange()" pattern="[a-zA-Z0-9_\- ]*"   #first spellcheck="false"/>
        <div *ngIf="object_name.invalid && (object_name.dirty || object_name.touched)" class="name-popover">
            <div class="name-popover-content" *ngIf="!object_name.errors.name">
              Only alphanumeric characters and - _ ` ` (space) are allowed
            </div>
            <div class="name-popover-content" *ngIf="object_name.errors.name">
              Object name already in use
            </div>
        </div>
      </div>
    </div>
    <div class="pure-u-1-1">
      <div class="form-group distribute">
        <select class="mousetrap" [(ngModel)]="axModel.detection.type">
          <option value="appear">Appear</option>
          <option value="appear+disappear">AppearDisappear</option>
          <option value="disappear">Disappear</option>
        </select>

        <div>
          <span class="inline-label">Timeout [s]</span>
          <input  [(ngModel)]="axModel.detection.timeout_s" type="number" (change)="changeTimeout()" class="small mousetrap" min="1"/>
        </div>
        <div>
          <span class="inline-label">Break</span> <input class="regular-checkbox" [(ngModel)]="axModel.detection.break" type="checkbox" />
        </div>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div #treeContainer [ngStyle]="treeHeight()" (resized)="treeResize($event)">

        <ax-designer-tree></ax-designer-tree>
      </div>
    </div>
  </div>
  <div class="pull-down pure-g" #pullDown>


    <ax-box-options *ngIf="!hideOptionsOnDrag()" [node]="selectedNode"></ax-box-options>
    <div class="pure-u-1-1 distribute">
        <div>
          <button (click)="save()" class="btn btn-primary">OK</button>&nbsp;<button (click)="cancel()" class="btn">Cancel</button>
        </div>
        <div *ngIf="showAdd()">
            <button (click)="add()" class="btn btn-secondary">Add</button>
        </div>
    </div>

  </div>
</div>
