@import "../../variables.scss";


.name-popover{
  z-index: 1039;
  display:  flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  height: 45px;
  margin-bottom: -45px;
  .name-popover-content{
    z-index: 1039;
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 10px;
    background-color: $darkred;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

}


.name-popover:before {
  margin: 0 auto;
  width: 0px;
  z-index: 5;
  content: "";
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $darkred transparent;
}
