<div class="ax-selector-container" (resized)="onResized($event)">
    <div class="ax-selector-main" >
      <div class="ax-selector-tabs">
          <div class="ax-selector-tab primary" style="cursor: pointer;" [ngClass]="{'selected': selected.name === main.name}" (click)="selectTab(main)"><a (click)="selectTab(main)">Working case: {{main.name}}</a></div>
          <div class="ax-selector-tab secondary" [ngClass]="{'selected': selected.name === file.name}" *ngFor="let file of files" (click)="selectTab(file)" style="cursor: pointer;">
            <div  style="width: 100%;" class="distribute">
              <div><a (click)="selectTab(file)" >{{file.name}}</a></div>
              <div><a (click)="closeTab(file)"><i class="fas fa-times"></i></a></div>
            </div>
          </div>
          <a class="ax-selector-tab btn add" (click)="loadFile()">+</a>
          <input type="file" accept=".alyvix" #file (change)="onFileAdd()" style="display: none">
      </div>
      <ax-table [(data)]="selected.data" [readonly]="selected.readonly" (import)="onImport($event)"></ax-table>
    </div>

</div>


<div *ngIf="!production" style="position: absolute; top: 0px; left: 1250px; overflow: auto; height: 600px; width: 400px; background-color: white">
  <pre>{{selected | json}}</pre>
</div>
