@import "../../variables.scss";

cdk-table.ax-selector {
    display: flex;
    flex-direction: column;

    cdk-header-row,cdk-row{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #ccc;
        cdk-cell,cdk-header-cell {
            text-align: center;
            width: 10%;
            padding: 5px;
        }

        cdk-header-cell{
            font-weight: bold;
            color: white;
            
        }
    }

    cdk-header-row{
        background-color: $blue;
    }
    
}