<div class="ax-selector-container" (resized)="onResized($event)">
    <div class="ax-selector-main">
      <div class="ax-selector-tabs">
          <div class="ax-selector-tab" [ngClass]="{'selected': selectedTab == i}" *ngFor="let i of [1,2,3]"><a (click)="selectTab(i)">Tab {{i}}</a></div>

      </div>
      <ax-table></ax-table>
    </div>

</div>


<div *ngIf="!production" style="position: absolute; top: 0px; left: 1250px; overflow: auto; height: 600px; width: 400px; background-color: white">
  <pre>{{data | json}}</pre>
</div>
