@import "../../variables.scss";

.ax-selector-container{
  height: 100%;

  .ax-selector-main{

    display: flex;
    align-items: stretch;
    flex-direction: column;


    .ax-selector-tabs{
      height: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      border-bottom: 2px solid $blue;
    }

    .ax-selector-tab{
      width: 120px;
      padding: 3px 10px;
      display: flex;
      font-size: 80%;
      font-weight: bolder;

      &.selected{
        background-color: $blue;
        a {
          color: white;
        }
      }

      a {
        width: 100%;
        cursor: pointer;
      }
    }
  }

}


