@import '../../../../variables.scss';

.script-editor-container {
  overflow: auto;
  height: 100%;



  .action-list{
    margin: 30px;
    min-height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 80%;

    .drop-zone{
      height: 50px;
      width: 200px;
    }

  }


}
