<div class="script-editor-container">
  <div class="script-editor-steps">
    <div *ngIf="_steps.length == 0" class="script-title">
      DROP OBJECTS, SECTIONS OR MAPS HERE
    </div>
    <div
      class="action-list"
      (dragover)="dragover($event)"
      (dragleave)="dragleave($event)"
      (drop)="drop($event)"
      #actionList
    >
      <div
        *ngFor="let step of _steps; last as isLast"
        [ngClass]="{ 'dragging': isDragging(step) , 'sorting': isSorting(step) }"
      >
        <script-step
          [selected]="isSelected(step)"
          (click)="selectStep(step, $event)"
          [step]="step"
          (stepChange)="stepChange($event)"
        ></script-step>
      </div>
      <!-- <div *ngIf="_steps.length > 0" class="drop-zone"></div>

    </div> -->
    </div>

  </div>
  <div class="script-actions">
      <button class="btn btn-secondary" (click)="disableEnableSelected()">
        Disable/Enable
      </button>
      <button class="btn btn-danger" (click)="deleteSelected()">Remove</button>
    </div>
</div>
