@import '../../../../variables.scss';

.script-editor-container {
  overflow: auto;
  height: 100%;

  .script-actions{
    margin: 30px;
  }

  .script-title{
    margin: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Roboto';
    letter-spacing: 2px;
  }



  .action-list{
    margin: 30px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 80%;

    .drop-zone{
      height: 50px;
      width: 200px;
    }

  }


}
