<div class="script-editor-container">
  <div class="script-title">Drop Objects,Section or Maps here</div>
  <div priDropList="{{listId}}" (priDropListDrop)="dropped($event)" [priDropListData]="'actions'" class="action-list">
    <div *ngFor="let step of _steps; last as isLast" priDragItem [priDragItemData]="step">
      <script-step [selected]="isSelected(step)" (click)="selectStep(step,$event)" [step]="step" (stepChange)="stepChange($event)"></script-step>
    </div>
    <div *ngIf="_steps.length > 0" priDropList="{{lastListId}}" (priDropListDrop)="droppedEnd($event)" class="drop-zone"></div>

  </div>
  <div class="script-actions">
      <button class="btn" (click)="disableEnableSelected()">Disable/Enable</button>
      <button class="btn" (click)="deleteSelected()">Delete</button>
    </div>



</div>

