
<div class="container-header">
  <div class="header">
      <ax-header></ax-header>
  </div>
  <div class="container-editor" #container>
    <div class="variable_width" [style.width.px]="leftWidth">
        <rsz-layout class="top-panel" [directions]="['none']" [rFlex]="true">
            <div [style.height.px]="topLeftHeight" class="editor-menu-panel">
              <rsz-layout  [directions]="['right']" [rFlex]="true" (resizing)="resizingVertical($event)">
                  <div [style.width.px]="objectsWidth" class="inner-cell objects">
                    <div *ngIf="!objectCollapsed">
                        <app-objects-panel></app-objects-panel>
                    </div>
                    <div class="objects-collapsed" *ngIf="objectCollapsed" (click)="expandObjects()">
                        <p>Objects</p>
                    </div>
                  </div>
              </rsz-layout>
              <rsz-layout  [directions]="['none']" [rFlex]="true">
                <div [style.width.px]="leftWidth - objectsWidth" [style.height.px]="topLeftHeight" class="inner-cell">
                  <app-central-panel></app-central-panel>
                </div>
              </rsz-layout>
            </div>
          </rsz-layout>
          <rsz-layout (resizing)="resizing($event)" class="selector-panel" [directions]="['top']" [rFlex]="true">
              <div [style.height.px]="selectorHeight" class="selector-panel-container">
                <ax-selector [editor]="true"></ax-selector>
              </div>
          </rsz-layout>

    </div>
    <div class="designer-right">
      <ax-designer [editor]="true" *ngIf="hasDesigner"></ax-designer>
      <div class="message" *ngIf="!hasDesigner">Select one object<br>for the current resolution</div>
    </div>
  </div>


</div>
