$branchColor: #d9d9d9;
//$branchColor: black;







.cdk-drag-preview { 
    
    .vertical-branch {
        display: none;
    }

    .branch{
        display: none;
    }

}



.custom-placeholder {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: #eee;
    border: dashed 1px #999;
    height: 36px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}






.selection-tree{
    position: absolute;
    left: 0;
    z-index: 0;
    width: 100%;

    .selected-placeholder{
        height: 40px;
        width: 100%;
    
        &.is-selected{
            background-color: #eee;
        }
    }

    &.is-dragging{
        .selected-placeholder{
            &.is-selected{
                background-color: #fff;
            }
        }
    }

}

.tree{
    position: relative;
    text-align: left;
    margin-top: -4px;
}

.tree-content{
    height: 40px;
    width: 100%;
    display: block;
}

.tree-childs {
    margin-top: -4px;
}

.tree-level{
    margin-left: 12px;
}

div.tree-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding-top: 4px;
    padding-left: 4px;
}

.leaf{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 40px;
}

.branch{
    display: flex;
    flex-direction: column;
    width: 22px;
    height: 40px;
}

.branch-childs{
    height: 4px;
    margin-top: -4px;
    margin-left: 12px;
    border-left:1px solid $branchColor;
}

.branch-childs-second{
    height: 8px;
    margin-top: -4px;
    margin-left: 33px;

    &.active{
        border-left:1px solid $branchColor;
    }

}

.branch:before {
    height:19px;
    color:white;
    border-bottom:1px solid $branchColor;
    content:"";
    border-left:1px solid $branchColor;
}

.branch:after {
    height:20px;
    width:34px;
    color:white;
    content:"";
    border-left:1px solid $branchColor;
}

.last.branch:after {
    border-left:0;
}

.vertical-branch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left:-12px;
    margin-top: -4px;
    width:100%;
}

.vertical-branch:before {
    content: "";
    border-left:1px solid $branchColor;
    width: 20px;
    margin-top: -8px;
    margin-left: 12px;
}

.last.vertical-branch:before {
    border: 0;
    width: 21px;
}
