

ul.tree, ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 
ul.tree ul {
    margin-left: 10px;
}
ul.tree li {
    margin: 0;
    margin-left: 10px;
    margin-top: -4px;
    padding: 0 25px;
    line-height: 40px;
    color: #369;
    font-weight: bold;
    border-left:1px solid rgb(100,100,100);

}
ul.tree li.last {
    border-left:none;
    margin-top: 0px;
}
ul.tree li:before {
    position:relative;
    top:-4px;
    height:25px;
    width:30px;
    color:white;
    border-bottom:1px solid rgb(100,100,100);
    content:"";
    display:inline-block;
    left:-25px;
}
ul.tree li.last:before {
    border-left:1px solid rgb(100,100,100);   
}



li.cdk-drag-preview {
    margin-left: 50px;
}


li.cdk-drag-preview ul.secondary-group {
    margin-top: -34px;
    margin-left: -18px;
}

li.cdk-drag-preview ul.secondary-group li {
    display: none;
}

.tree li {
    width: 100%;
}

ul.primary-group {
    margin-left: -20px;
}


.custom-placeholder {
    margin-left: 10px;
    background: #eee;
    border: dashed 1px #999;
    height: 40px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



