<div class="pure-g">
  <div class="pure-u-1-2">
    <app-select-type [node]="node"></app-select-type>
  </div>
  <div class="pure-u-1-2">
    <div class="form-group distribute">
      <input
        class="mousetrap"
        [(ngModel)]="node.box.features.T.type"
        type="radio"
        name="Tradio"
        id="Tdetect"
        value="detect"
      />
      <label for="Tdetect">Detect</label>
      <input
        class="mousetrap"
        [(ngModel)]="node.box.features.T.type"
        type="radio"
        name="Tradio"
        id="Tscrap"
        value="map"
      />
      <label for="Tscrap">Map</label>
    </div>
  </div>

  <div
    class="pure-u-13-24"
    *ngIf="isMap()"
  >
    <div class="form-group">
      <label>Map</label>
      <select>
        <option value="None">None</option>
      </select>
    </div>
  </div>
  <div class="pure-u-5-24" *ngIf="!isMap()">
    <div class="form-group">
      <label>Mode</label>
      <select [(ngModel)]="node.box.features.T.detection">
        <option value="regex">regex</option>
        <option value="number">number</option>
        <option value="date">date</option>
      </select>
    </div>
  </div>
  <div class="pure-u-1-24"></div>
  <div
    class="pure-u-8-24"
    *ngIf="!isMap() && node.box.features.T.detection == 'regex'"
  >
    <div class="form-group">
      <label>Regex</label>
      <input
        class="mousetrap regex-input"
        [formControl]="regex"
        (change)="onRegexChange()"
        [ngClass]="{ warning: regExWarning, loading: loading }"
        type="text"
        spellcheck="false"
      />
    </div>
  </div>
  <div
    class="pure-u-8-24"
    *ngIf="!isMap() && node.box.features.T.detection == 'number'"
  >
    <div class="form-group">
      <label>Logic</label>
      <select [(ngModel)]="node.box.features.T.logic">
        <option value="more than zero">more than zero</option>
      </select>
    </div>
  </div>
  <div
    class="pure-u-8-24"
    *ngIf="!isMap() && node.box.features.T.detection == 'date'"
  >
    <div class="form-group">
      <label>Logic</label>
      <select [(ngModel)]="node.box.features.T.logic">
          <option value="last hour">last hour</option>
          <option value="last day">last day</option>
          <option value="last week">last week</option>
          <option value="last month">last month</option>
        </select>
    </div>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-9-24">
    <div class="form-group">
      <label>Scrap</label>
      <input
        class="mousetrap"
        [(ngModel)]="scraped"
        type="text"
        disabled
        spellcheck="false"
      />
    </div>
  </div>
  <div class="pure-u-1-1">
    <ax-interaction [node]="node"></ax-interaction>
  </div>
  <div class="pure-u-1-1">
    <div class="form-group">
      <label>String</label>
      <input
        class="mousetrap"
        [(ngModel)]="node.box.keyboard.string"
        type="text"
        spellcheck="false"
      />
    </div>
  </div>
</div>
