<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="production">
    <hotkeys-cheatsheet></hotkeys-cheatsheet>
  <ax-designer></ax-designer>
</div>

<div *ngIf="!production" style="position: absolute;text-align:center; background-color: gray; width: 100%; height: 100%">
  <div style="position:absolute; width:400px; height: 590px;background-color:white; margin: 0 30px;  margin-top:50px; text-align: left">
      <hotkeys-cheatsheet></hotkeys-cheatsheet>
    <ax-designer></ax-designer>
  </div>

  <div style="position:absolute; width:400px; height: 480px; background-color:white; overflow: auto; margin: 0 460px;  margin-top:160px; text-align: left">
      <pre>{{axModel | json }}</pre>
  </div>

  <div style="position:absolute; width:400px; height: 100px; background-color:white; overflow: auto; margin: 0 460px;  margin-top:50px; text-align: left">
    <pre>{{flags | json }}</pre>
</div>
</div>
