$blue: #0078e7;
$focusBlue: #33C1FF;//darken($blue,10%);
$darkblue: darken( $blue, 30%);
$lightblue: lighten( $blue, 50% );
$textcolor: #333;
$red: red;
$darkred: darken($red, 20%);
$lightred: lightpink;
