<!DOCTYPE html> 
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/draw.css">
  <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/draw.js"></script>
    <script src="static/js/rect.js"></script>
    	<link rel="stylesheet" type="text/css" href="static/codebase/fonts/font_roboto/roboto.css"/>
	<link rel="stylesheet" type="text/css" href="static/codebase/dhtmlx.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/treetable.css"/>
    <link rel="stylesheet" href="static/alyvix-ui/styles.css"></head>

    <script src="static/js/jquery-ui.min.js"></script> 
	<script src="static/codebase/dhtmlx.js"></script>
  <script><!--
  
        var urlParams = new URLSearchParams(window.location.search);
        var ide = urlParams.get("ide") ? true : false;

        var False = false;
        var True = true;
        var None = null;
        
        var curr_mouse_y=0;
  
        var menu_is_open = false;
  		var dhxWins;
        var ttMenu;
        var ttWIndow_isOpen = false;

        var old_thumbnail_screen = null;
        
        var selected_box = null;
        
        var canvas_sorting_ids = [];
        
        var hidden_thumbnail = [];
        
        var rows_html = [];
        
        var object_name = "{{object_name}}";

        var background_base64_string = "{{base64url}}";

        var measure = {{measure|tojson|safe}};
        var call = {{call|tojson|safe}};
        var maps = {{maps|tojson|safe}};
        var script = {{script|tojson|safe}};
        
        var e_from_ide = {clientX: {{win_mouse_x}}, clientY: {{win_mouse_y}}};
        
        var last_element = null;
        
        key_ctrl_pressed = false;
        
        var detection = {
            "type": "appear",
            "timeout_s": 10,
            "break": true
        }
        
        var old_win = 0;
        
        var old_win_h = 0;
        var old_win_w = 0;
        var old_win_x = 0;
        var old_win_y = 0;
        var old_win_maximized = false;
        
        var sorting_rows_dict = [];
        
		function doOnLoad() {
			dhxWins = new dhtmlXWindows();
            
        }
        
        function clone(obj) {
            if (null == obj || "object" != typeof obj) return obj;
            var copy = obj.constructor();
            for (var attr in obj) {
                if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr];
            }
            return copy;
        }


        var boxes = [];
        var model = {}; 

        //Interface to alyvix-ui project
        function axModel() {
            console.log('axModel');
            if(!model.box_list) {
                model = {
                    object_name:object_name,
                    detection: detection,
                    box_list:boxes,
                    background: background_base64_string,
                    measure:measure,
                    call:call,
                    maps:maps,
                    script:script
                } 
            }
            return model;
        }
        

        function setPoint(i) {
            boxes = model.box_list;
            selected_box = i;
            rectManager.set_rectangles(model.box_list);
            rectManager.set_intent({"type":"set_interaction_point", "features":{"index": i}});
            rectManager.set_group(model.box_list[i].group);
            if(dhxWins)
                dhxWins.forEachWindow(function(win){win.close();});
        }

        function newComponent(group) {
            boxes = model.box_list;
            rectManager.set_rectangles(model.box_list);
            rectManager.set_intent({"type":"capturing", "features":{}});
            rectManager.set_group(group);
            if(dhxWins)
                dhxWins.forEachWindow(function(win){win.close();});
        }

        

        function getGroupsFlag() {
            return {
                created: [rectManager.main_g0_created,rectManager.main_g1_created,rectManager.main_g2_created],
                count: [rectManager.g0_elements_cnt,rectManager.g1_elements_cnt,rectManager.g2_elements_cnt],
                main: [rectManager.main_g0_created,rectManager.main_g1_created,rectManager.main_g2_created]
            }
        }

        function setGroupFlags(flags) {
            if(flags && rectManager) {
                rectManager.main_g0_created = flags.main[0];
                rectManager.main_g1_created = flags.main[1];
                rectManager.main_g2_created = flags.main[2];
                rectManager.g0_elements_cnt = flags.count[0];
                rectManager.g1_elements_cnt = flags.count[1];
                rectManager.g2_elements_cnt = flags.count[2];
                rectManager.main_g0_created = flags.created[0];
                rectManager.main_g1_created = flags.created[1];
                rectManager.main_g2_created = flags.created[2];
            }
        }

        function getSelectedNode() {
            return selected_box;
        }
        function setSelectedNode(i) {
            selected_box = i;
            draw(rectManager.last_mouse_event);
        }
        
        function lastElement()
        {
            return last_element;
        }
        
        function setTypeNode() {

            draw(rectManager.last_mouse_event);
        }

        function uuidv4() { 
            return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c => 
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            )
        }
        
               
        
        
    
        
        function save()
        {
            var jsonData = JSON.stringify(model);
            
            $.ajax({
                url: "/save_json",
                type: "POST",
                data: jsonData,
                contentType: "application/json; charset=utf-8",
                success: function(dat) { 
                        if(!ide) {
                            $.ajax({
                                url: "/cancel_event",
                                type: "GET",
                                //success: function(dat) { alert("JSON SAVED");}
                            });
                        }
                    
                    }
            });
        }
        
        function cancel()
        {
            
            $.ajax({
                url: "/cancel_event",
                type: "GET",
                //success: function(dat) { alert("JSON SAVED");}
            });
        }

        /// END API FOR Alyvix-ui
		
        var idPrefix = 1;
        
        function update_thumbnails(dat) {
            var thumbnails_array = dat['thumbnails'];
            
            for (var i = 0; i < thumbnails_array.length; i++){
                boxes[i].thumbnail = thumbnails_array[i];
            }

            var screen_dict = dat['screen'];
            
            old_thumbnail_screen = screen_dict;
            
            var html_string = '';
            
            var image = screen_dict['image'];
            var image_w = screen_dict['image_w'];
            var image_h = screen_dict['image_h'];
            var background_color_screen = "#808080";
            var border_color_screen = "#808080";
            
            if(!ide) { //don't open designer window in IDE mode
              createWindow();
            }
        }

		function createWindow() {
        
            ttWIndow_isOpen = true;
            draw(rectManager.last_mouse_event);
        
            //selected_box = null;
                    
            $("#myCanvas").unbind("mousemove");
            
            $("#myCanvas").unbind("mousedown");
            
            $("#myCanvas").mousedown(function(e){
             
                             
                dhxWins.forEachWindow(function(win){win_park(win);});
             
            });
            
            $("#myCanvas").unbind("mouseup");
            
            $("body").unbind("keydown");
            
            $("body").unbind("keyup");
            
            rectManager.key_ctrl_pressed = false;
            
           
            
         
            
			var p = 0;
			dhxWins.forEachWindow(function(){p++;});
			if (p>=1) {
				//alert("Too many windows");
				return;
			}
			var id = "userWin"+(idPrefix++);
			//
			var w = 400;
            
            var h = 640;
            if (screen_h < 640)
            {
                h = screen_h;
            }

			var x = parseInt( ({{img_w}}/2) - (w/2) );
			var y = 70;
            
            if (old_win_h != 0) h = old_win_h;
            if (old_win_w != 0) w = old_win_w;
            if (old_win_x != 0) x = old_win_x;            
            if (old_win_y != 0) y = old_win_y;

            
			//
			dhxWins.createWindow(id, x, y, w, h);

            
            dhxWins.attachViewportTo("myDiv");
            dhxWins.window(id).attachEvent('onClose', closeWinEvent);
            dhxWins.window(id).attachEvent('onMaximize', maximize_event);
            dhxWins.window(id).attachEvent('onMinimize', minimize_event);
            dhxWins.window(id).attachEvent('onMoveFinish', win_move_finish);
            dhxWins.window(id).button("close").attachEvent('onClick', win_confirm_exit);
            dhxWins.window(id).button("park").attachEvent('onClick', win_park);
            //dhxWins.window(id).button("minmax").attachEvent('onClick', win_min_max);
            
			dhxWins.window(id).setText("Alyvix Designer");
            dhxWins.window(id).attachHTMLString('<div style=" position: relative; width:100%; height: 100%; overflow: hidden"><app-root></app-root></div>');
            
            window.loadAlyvixDesigner();

            
            old_win = dhxWins.window(id);
            
            dhxWins.window(id).attachEvent("onResizeFinish", function(win){
            
                

            });
                        
            dhxWins.window(id).attachEvent("onBeforeResizeStart", function(win){
                return true; // allow window resizing to be started
            });
            
            dhxWins.window(id).setMaxDimension(w, screen_h);
            dhxWins.window(id).setMinDimension(400, 550);
            
            if(old_win_maximized)
            {
                dhxWins.window(id).maximize();
            }

            
	
		}

        
        function win_move_finish(win)
        {
            if (old_win_maximized == true)
            {
                var position = win.getPosition();
            
                win.setPosition(position[0], 0);
            }
        }
        
        function win_confirm_exit(win)
        {
            var r = confirm("Are you sure you want to quit without saving?");
            if (r == true) {
              cancel();
            } else {

            }
            console.log("bla");
        }
        
        function win_park(win)
        {
            if (old_win_maximized == true)
            {
                win.minimize();
                old_win_maximized = true;
            }
            else
            {
                win.minimize();
            }

            win.close();
        }
        
        function maximize_event(win)
        {
            win.maximize();
            var dimension = win.getDimension();
            
            var position = win.getPosition();
            
            if (position[0] == 0)
            {
                win.setPosition(old_win_x, 0);
            }
            else
            {
                win.setPosition(position[0], 0);
            }

            //win.setDimension(dimension[0], screen_h);
            //dhxWins.window(id).setMinDimension(400, 550);
            //win.stick();
            
            old_win_maximized = true;
        }
        
        function minimize_event(win)
        {
            old_win_maximized = false;
        }
        
        function closeWinEvent(win)
        {
            boxes = model.box_list;
            rectManager.set_rectangles(model.box_list);
            var dimension = win.getDimension();
            var pos = win.getPosition();
        
            old_win_h = dimension[1];
            old_win_w = dimension[0];
            
            old_win_x = pos[0];
            old_win_y = pos[1];
        
            ttWIndow_isOpen = false;
            //$("#myCanvas").unbind("mousedown");
            $("#myCanvas").mousemove(function(e){handleMouseMove(e);});
            
            $("#myCanvas").mousedown(function(e){rectManager.mousedown(e);});
            
            $("#myCanvas").mouseup(function(e){rectManager.mouseup(e);});
            
            $("body").keydown (function(e){rectManager.keydown(e);});
            
            $("body").keyup(function(e){rectManager.keyup(e);});
            
            //alert("unload");
            window.unloadAlyvixDesigner();
            win.detachObject();
            last_element = null;
            return true;
        }
		
		function doOnUnload() {
			if (dhxWins != null && dhxWins.unload != null) {
                window.unloadAlyvixDesigner();
                dhxWins.forEachWindow(function(window){window.detachObject(true);});
				dhxWins.unload();
				dhxWins = null;
			}
		}


        class Box {

            constructor(x, y, w, h, roi_x, roi_y, roi_w, roi_h) {
                this.x = x;
                this.y = y;
                this.w = w;
                this.h = h;
                this.roi_x = roi_x;
                this.roi_y = roi_y;
                this.roi_w = roi_w;
                this.roi_h = roi_h;
                this.roi_unlimited_left = false;
                this.roi_unlimited_up = false;
                this.roi_unlimited_right = false;
                this.roi_unlimited_down = false;
                this.group = 0;
                this.is_main = false;
                
                this.thumbnail = {};
                
                this.type = "I";
                
                /*this.features = {"I":{"colors": true, "likelihood": 0.7},
                                    "R":{"width": {"min": 5, "max": 5}, "height": { "min": 15, "max": 15}},
                                    "T":{"regexp": "", "whitelist": "", "dictionary": "en"}};*/
                                    
                this.rect_type = null;
                                    
                this.features = {"I":{},
                                    "R":{},
                                    "T":{}};
                                    
                this.mouse = {"type": null, "features": {"point": { "dx": 0, "dy": 0 }}};
                
                this.keyboard = { "string": "", "delays_ms": 100, "durations_ms": 100};
                
                
                this.id = uuidv4();

            }

        }
        
        var canvas = null;
        var ctx = null;
        
        var screen_w = 0;
        var screen_h = 0;
        
        
        var id_counter=0;

        var rectManager = new RectManager();
        
        
        
        {% for o in autocontoured_rects %}
        rectManager.autocontoured_rects.push(new Box({{o[0]}}, {{o[1]}}, {{o[2]}}, {{o[3]}}, 0, 0, 0, 0));
        {% endfor %}
        
            
        this.deleted_rects = [];
             
            
        $.ajax({
            url: "/load_objects",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function(dat) {
                console.log(dat);
                if ("autocontoured_rects" in dat ) build_objects_from_file(dat["file_dict"], dat["autocontoured_rects"]);
                else build_objects_from_file(dat["file_dict"], null);
                },
            error: function() { //new object
                axModel();
            }
        });
        
        function build_objects_from_file(file_dict, autocontoured_rects){
        
            if (jQuery.isEmptyObject(file_dict))
            {
                return;
            }
            
            if (autocontoured_rects != null)
            {
                rectManager.autocontoured_rects = [];
                
                for(i=0; i<autocontoured_rects.length; i++)
                {
                    rectManager.autocontoured_rects.push( new Box(autocontoured_rects[i][0], autocontoured_rects[i][1], autocontoured_rects[i][2], autocontoured_rects[i][3], 0, 0, 0, 0));
                }
            
                boxes = [];
                rectManager.set_rectangles(boxes);
                
                detection = file_dict["detection"];
            
                var boxes_json = file_dict['boxes'];
                
                background_base64_string = "data:image/png;base64," + file_dict["screen"];

                $( "body" ).css("background-image", "url('" + background_base64_string + "')");
             
                screen_h = file_dict['img_h'];
                screen_w = file_dict['img_w'];

                console.log('width =' + screen_w + ', height = ' + screen_h)    ;
                    
                $("body").css({ "background-size": screen_w.toString() + "px " + screen_h.toString() + "px"});  
                
                
                for(i=0; i<boxes_json.length; i++)
                {
                        var box_json = boxes_json[i];
                        var box = new Box(box_json["x"], box_json["y"], box_json["w"], box_json["h"], box_json["roi_x"], box_json["roi_y"], box_json["roi_w"], box_json["roi_h"]);
                        
                        box.roi_unlimited_left = box_json["roi_unlimited_left"];
                        box.roi_unlimited_up = box_json["roi_unlimited_up"];
                        box.roi_unlimited_right = box_json["roi_unlimited_right"];
                        box.roi_unlimited_down = box_json["roi_unlimited_down"];
                        box.group = box_json["group"];
                        box.is_main = box_json["is_main"];
                        
                        if (box.is_main)
                        {
                            if(box.group==0) rectManager.main_g0_created = true;

                            if(box.group==1) rectManager.main_g1_created = true;

                            if(box.group==2) rectManager.main_g2_created = true;
                        }
                        
                        if(box.group==0) rectManager.g0_elements_cnt+=1;
                        
                        if(box.group==1) rectManager.g1_elements_cnt+=1;
                        
                        if(box.group==2) rectManager.g2_elements_cnt+=1;
                        
                        box.type = box_json["type"];
                        
                        box.rect_type = box_json["rect_type"];
                                            
                        box.features = box_json["features"];
                                            
                        box.mouse = box_json["mouse"];
                        
                        box.keyboard = box_json["keyboard"];
                    
                        boxes.push(box);
                
                }
                
                rectManager.set_rectangles(boxes);
                axModel();
            
                switch(urlParams.get("action")) {
                case 'setPoint': 
                    setPoint(parseInt(urlParams.get("value")));
                    break;
                case 'newComponent':
                    newComponent(parseInt(urlParams.get("value")));
                    break;
                default: break;
                }

                draw(e_from_ide);
            }
            else
            {
                detection = file_dict;
                axModel();
            }
            
            
        
        }
        
        /*{% for o in loaded_boxes %}

        var curr_box =  new Box({{o.x}}, {{o.y}}, {{o.w}}, {{o.h}}, {{o.roi_x}}, {{o.roi_y}}, {{o.roi_w}}, {{o.roi_h}});
        
        curr_box.is_main = {{o.is_main}};
        
        curr_box.is_main = {{o.is_main}};
        
        curr_box.group = {{o.group}};
        
        curr_box.type = '{{o.type}}'; 
        
        curr_box.features = {{o.features|safe}}; 
        
        curr_box.roi_unlimited_left = {{o.roi_unlimited_left}};
        curr_box.roi_unlimited_up = {{o.roi_unlimited_up}};
        curr_box.roi_unlimited_right = {{o.roi_unlimited_right}};
        curr_box.roi_unlimited_down = {{o.roi_unlimited_down}};
        
        curr_box.mouse = {{o.mouse|safe }};
        curr_box.keyboard = {{o.keyboard|safe}};
        
        boxes.push(curr_box);
        {% endfor %}*/
        
        rectManager.set_rectangles(boxes);
  
        $(window).on("load",function() {
        
            
            //var box1 = new Box(id=1, main=0, x=365, y=413, w=356, h=197, 340,370,436,277);
            //var box2 = new Box(id=2, main=0, x=1011, y=359, w=162, h=295, 970,319,242,375);
            
            //boxes.push(box1);
            //boxes.push(box2);
            
            rectManager.set_rectangles(boxes);
        
            //alert("sdsd");
            //get the canvas, canvas context
            canvas = document.getElementById('myCanvas');
            ctx = canvas.getContext('2d');
            
            let style = canvas_size(canvas);
            //set the correct attributes for a crystal clear image!
            canvas.setAttribute('width', style.width()*dpi);
            canvas.setAttribute('height', style.height()*dpi);
            ctx.scale(dpi, dpi);
            ctx.translate(0.5,0.5);

            //alert("sdsd");
            
            //var element = document.getElementsByTagName("myCanvas")[0];
            //onResize( element, function(){ alert("Woo!"); } );
            
            $( document ).on( "mousemove", function( event ) {
                //console.log("pageY: " + event.pageY );
                curr_mouse_y = event.pageY ;
            });
            
            $("#myCanvas").mousemove(function(e){handleMouseMove(e);});
            
            $("#myCanvas").mousedown(function(e){rectManager.mousedown(e);});
            
            $("#myCanvas").mouseup(function(e){rectManager.mouseup(e);});
            
            $("body").keydown (function(e){rectManager.keydown(e);});
            
            //rectManager.openwindow_
            
            $("body").keyup(function(e){rectManager.keyup(e);});
            
            $(window).keydown(function(event) 
            {
                if((event.keyCode == 107 && event.ctrlKey == true) || (event.keyCode == 109 && event.ctrlKey == true))
                {
                    event.preventDefault(); 
                }
                
                

                $(window).bind('mousewheel DOMMouseScroll', function(event) 
                {
                    if(event.ctrlKey == true)
                    {
                        event.preventDefault(); 
                    }
                });
            });
            
            //var imageSrc =  $( "body" ).css('background-image').replace(/url\((['"])?(.*?)\1\)/gi, '$2').split(',')[0];
            $( "body" ).css("background-image", "url('" + background_base64_string + "')");
         
            screen_h = {{img_h}};
            screen_w = {{img_w}};

            console.log('width =' + screen_w + ', height = ' + screen_h)    ;
                
            $("body").css({ "background-size": screen_w.toString() + "px " + screen_h.toString() + "px"});  
            var msg = 'PRESS ESC TO OPEN DIALOG';
            if(ide)
                msg = 'PRESS ESC TO EXIT';
            $("#message").html(msg);
            draw(e_from_ide);

            

            

        });
        
        
        
            
            
        
            
        $(window).resize(function(){
            //$('#canvas').height($('#canvas').width() / 2.031);
            
           /*             var imageSrc = $("#myCanvas").css('background-image').replace(/url\((['"])?(.*?)\1\)/gi, '$2').split(',')[0];
                        
            //alert(imageSrc);

            // I just broke it up on newlines for readability        

            var image = new Image();
            image.src = imageSrc;


            //alert('width =' + width + ', height = ' + height)    


                
                $("#myCanvas").css({ cursor: "crosshair" });
                $("#myCanvas").css({ "background-size": width.toString() + "px " + height.toString() + "px"});  */
                
            draw();
        });
        
        
        function handleMouseMove(e){
            if(canvas==null) return;
            // tell the browser we're handling this event
            //e.preventDefault();
            //e.stopPropagation();
            draw(e);
            rectManager.mousemove(e);

        }


        
        -->
    </script>
</head>
<body onload="doOnLoad();" onunload="doOnUnload();" tabindex='-1'>

    

    
    <div style="position: absolute; z-index: 10; width: 100%; height: 100%;" id='myDiv'><canvas id='myCanvas' oncontextmenu="return false;" tabindex='-1'></canvas></div>
    
    <div id="message" style="position: absolute; z-index: 0; top: 50px; left: 50px; color: rgba(0, 0, 0, 0.562); font-size: 25px; font-weight: bolder; text-shadow: 0px 0px 5px white"></div>
    


    <!-- inject angular-ui -->
    <script type="text/javascript" src="static/alyvix-ui/runtime.js"></script><script type="text/javascript" src="static/alyvix-ui/polyfills.js"></script><script type="text/javascript" src="static/alyvix-ui/main.js"></script>

    
</body>
</html>
