<!DOCTYPE html> 
<html>
<head> 
    <title>Alyvix Editor</title>
    <link rel="stylesheet" href="static/alyvix-ui/styles.css"></head>
</head>
<body style="height: 100vh;" onload="loadAlyvixEditor();" onunload="unloadAlyvixEditor();">
        <script type="text/javascript" src="static/alyvix-ui/runtime.js"></script><script type="text/javascript" src="static/alyvix-ui/polyfills.js"></script><script type="text/javascript" src="static/alyvix-ui/main.js"></script>
        <script>

            //SELECTOR
            // function new_button(delay) {
            //     throw new Error("Method not implemented.");
            // }
            // function cancel_button() {
            //     throw new Error("Method not implemented.");
            // }
            // function edit(object_name, resolution) {
            //     throw new Error("Method not implemented.");
            // };

            var res_h = {{res_h}};
            var res_w = {{res_w}};
            var scaling_factor = {{scaling_factor}};
            var res_string = "{{res_string}}";

            var current_library_name = "{{current_library_name}}";

            //DESIGNER
            function axModel() {
                // get from /ide_selector_index_changed_api
                console.log("axModel() Method not implemented.");
                return axModelMock();
            } //:AxModel;

            function lastElement() { 
                // get from /ide_selector_index_changed_api
                return null;
            } //:BoxListEntity;

            var selected_box = 0;

            function getSelectedNode() {
                return selected_box;
            }//:number

            function setSelectedNode(i) {
                selected_box = i;
            }

            function newComponent(group) {  // TODO Alan 
                throw new Error("Method not implemented.");
            }
            function setPoint(i) { // TODO Alan
                console.log("setPoint(i) Method not implemented.");
            }

            //TODO Andrea callback method fullScreenCloses()

            function save() {
                //Hidden in panel
                throw new Error("Method not implemented.");
            }

            function cancel() {
                //Hidden in panel
                throw new Error("Method not implemented.");
            }

            function get_rect_type(rect) { // TODO Andrea Extract and call draw
                throw new Error("Method not implemented.");
            } //:RectType


            function set_rect_type(type,rect) { // TODO Andrea Extract and call draw
                console.log("set_rect_type Method not implemented.");
            }

            function uuidv4() { // TODO Andrea extract
                console.log("uuidv4 Method not implemented.");
            } // :string


            function setRectangles() { // copy from drawing.html
                console.log("setRectangles() Method not implemented.");
            }

            function getGroupsFlag() { // copy from drawing.html
                console.log("getGroupsFlag() Method not implemented.");
                return flagsMock();
            }//:GroupsFlag

            function setGroupFlags(flags) { // copy from drawing.html
                console.log("setGroupFlags() Method not implemented.");
            }

            function setTypeNode(s) { // copy from drawing.html
                console.log("setTypeNode Method not implemented.");
            }



        </script>
        <app-root></app-root>
        <!-- inject angular-ui -->
    </body>
</html>