<!DOCTYPE html>
<html>
<head>
<title>Alyvix Selector</title>
<link rel="stylesheet" href="static/alyvix-ui/styles.css"></head>
<script src="static/js/jquery-3.3.1.min.js"></script>
<script>


    var res_string = "{{res_string}}";
    var current_library_name = "{{current_library_name}}";
    

</script>
</head>
<body style="height: 100vh;" onload="loadAlyvixSelector();" onunload="unloadAlyvixSelector();">

    <app-root></app-root>
    <!-- inject angular-ui -->
    <script type="text/javascript" src="static/alyvix-ui/runtime.js"></script><script type="text/javascript" src="static/alyvix-ui/polyfills.js"></script><script type="text/javascript" src="static/alyvix-ui/main.js"></script>
</body>
</html> 