<div class="pure-g box-options" *ngIf="node && node.box">
  <div class="pure-u-1-1" [ngSwitch]="node.box.type">
    <div *ngSwitchCase="'I'">
      <ax-designer-i [node]="node"></ax-designer-i>
    </div>
    <div *ngSwitchCase="'R'">
      <ax-designer-r [node]="node"></ax-designer-r>
    </div>
    <div *ngSwitchCase="'T'">
      <ax-designer-t [node]="node"></ax-designer-t>
    </div>
  </div>
</div>

<div class="pure-g box-options" *ngIf="node && !node.box">
    <div class="pure-u-1-1">
        <ax-designer-screen></ax-designer-screen>
    </div>
</div>
