<div class="interaction pure-g" *ngIf="_node">
  <div class="pure-u-5-24 form-group">
      <label>Action</label>
      <select [ngModel]="_node.box.mouse.type" (ngModelChange)="interactionChange($event)">
        <option *ngFor="let it of interactionTypes" [ngValue]="it.value">{{it.name}}</option>
      </select>
  </div>
  <div class="pure-u-5-24 form-group" [hidden]="!_node.box.mouse.type || _node.box.mouse.type== 'none'">
      <button style="height:100%; width:100%" *ngIf="!isPointAlreadySelected()" class="btn" (click)="setPoint()">Set<br>point</button>
      <button style="height:100%; width:100%" *ngIf="isPointAlreadySelected()" class="btn" (click)="removePoint()" >Remove point</button>
    </div>
  <div class="pure-u-5-24 form-group" *ngIf="_node.box.mouse.type == 'click'">
      <label>Button</label>
      <select [(ngModel)]="_node.box.mouse.features.button">
          <option value="left">Left</option>
          <option value="right">Right</option>
        </select>
     </div>
  <div class="pure-u-5-24 form-group" *ngIf="_node.box.mouse.type== 'scroll' || _node.box.mouse.type== 'release'">
    <label>Direction</label>
    <select [(ngModel)]="_node.box.mouse.features.direction">
      <option *ngIf="_node.box.mouse.type== 'release'" value="none">None</option>
      <option value="up">Up</option>
      <option value="down">Down</option>
      <option value="left">Left</option>
      <option value="right">Right</option>
    </select>
  </div>
  <div class="pure-u-4-24 form-group" *ngIf="_node.box.mouse.type== 'scroll' || _node.box.mouse.type== 'click'">
    <label>Units</label>
    <input [(ngModel)]="_node.box.mouse.features.amount" (change)="amountChange()" type="number" style="width:50px" min="1">
  </div>
  
  <div class="pure-u-3-24 form-group" *ngIf="_node.box.mouse.features.amount > 1 && ( _node.box.mouse.type== 'click' || _node.box.mouse.type== 'scroll' ) ">
      <label>Delays [ms]</label>
      <input [(ngModel)]="_node.box.mouse.features.delays_ms" (change)="delayChange()" type="number" style="width:50px"  min="1" >
    </div>
  <div class="pure-u-3-24 form-group" *ngIf="_node.box.mouse.type== 'release' && _node.box.mouse.features.direction != 'none'">
    <label>Pixels [px]</label>
    <input  [(ngModel)]="_node.box.mouse.features.pixels" (change)="pixelsChange()"  type="number" style="width:50px"  min="1" >
  </div>
  

</div>