@import '../../../variables.scss';

.ax-objects{

  padding:  20px 30px 20px 10px;
  font-family: $font;
  letter-spacing: 2px;
  width: 100%;
  overflow-x: hidden;

  h3 {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 20px;
  }

  ul{
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
    margin-bottom: 10px;

    li {
      padding-left: 16px;

      margin: 3px 0;
      line-height: 16px;
    }

    li:before {
      content: "\203A"; /* Insert content that looks like bullets */
      font-size: 25px;
      line-height: 16px;
      font-weight: bolder;
      padding-right: 8px;
    }
    button{
      position: absolute;
      right: 5px;
      &.light{
        color: $gray;
        &:hover{
          color: #000;
        }
      }
    }
  }

}
