@import '../../../../../variables.scss';

$sections: #8bbabb;
$objects: #c7f0db;
$maps: #ffc55c;
$conditions: #f1f1b0;

.step-container{
  display: flex;
  flex-direction: column;
  z-index: 9999;
  align-items: flex-start;

  &.disable{
    .step-parameter{
      background-color: $gray !important;
    }

    .step-box{
      .step-condition{
        background-color: #666;
      }
    }

    .arrow{
      border-top: 10px solid #666;
    }


  }

  &.selected{

    .step-box{
      .step-condition{
        background-color: #222;
      }

      .step-parameter{
        font-weight: bold;

        &.dropping{
          &.object{
            background-color: darken($objects,30%);
          }
          &.section{
            background-color: darken($sections,30%);
          }
          &.warning{
            background-color: darken($warning,30%);
          }
          &.condition{
            &.map{
              background-color: darken($maps,30%);
            }

            &.object{
              background-color: darken($conditions,30%);
            }
          }
        }

        &.object{
          background-color: darken($objects,10%);
        }
        &.section{
          background-color: darken($sections,10%);
        }
        &.warning{
          background-color: darken($warning,10%);
        }
        &.condition{
          &.map{
            background-color: darken($maps,10%);
          }

          &.object{
            background-color: darken($conditions,10%);
          }
        }

      }
    }



    .arrow{
      border-top: 10px solid #222;
    }

  }

  .step-box{


    height: 50px;
    display: flex;
    align-items: flex-start;

    .step-condition{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #444;
      width: 50px;
      height: 50px;
      padding: 5px;

      div{
        text-align: center;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
      }

      &.step-main-condition{
        cursor: pointer;
      }
    }

    .step-parameter{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 0 20px;
      min-width: 100px;

      * {
        pointer-events: none;
      }

      &.dropping{
        &.object{
          background-color: darken($objects,30%);
        }
        &.section{
          background-color: darken($sections,30%);
        }
        &.warning{
          background-color: darken($warning,30%);
        }
        &.condition{
          &.map{
            background-color: darken($maps,30%);
          }

          &.object{
            background-color: darken($conditions,30%);
          }
        }
      }


      &.object{
        background-color: $objects;
      }
      &.section{
        background-color: $sections;
      }
      &.warning{
        background-color: $warning;
      }
      &.condition{
        &.map{
          background-color: $maps;
        }

        &.object{
          background-color: $conditions;
        }
      }

      div{
        text-align: center;
        font-weight: bold;
      }
    }

  }

  .arrow{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 10px solid #444;
  }
}
