@import '../../../variables.scss';

.ax-header-container {
  display: flex;
  padding: 17px 20px;
  justify-content: space-between;
  .ax-header-title{
    //text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto';
    letter-spacing: 3px;
    line-height: 25px;
    min-width: 200px;
  }

  ul {
    padding-inline-start: 0;
    margin: 0;
    list-style-type:none;
    display: inline-block;
    li {
      margin: 0 5px;
      list-style: none;
      display: inline-block;
    }
  }

  i {
    color: white;
  }

  button{
    &.run{
      width: 80px;
    }
    &.running{
      background-color: $red;
    }
    span {
      color: white;
    }
  }
}
