


<div class="ax-main-container">
  <div class="ax-main-main" >
    <div class="ax-main-tabs">
        <div class="ax-main-tab"  *ngFor="let tab of tabs" [ngClass]="{'selected': isSelectedTab(tab)}" (click)="selectTab(tab)">
            <a (click)="selectTab(tab)" >
              <span *ngIf="selected.type == 'object'">Script:</span>
              <span *ngIf="selected.type == 'map'">Map:</span>
              {{tab.name}}</a>
        </div>
    </div>
    <div class="ax-main-content">
      <app-script-editor *ngIf="selected.type == 'object'" [steps]="selected.steps"></app-script-editor>
      <app-monitor *ngIf="selected.type == 'monitor'"></app-monitor>
    </div>
  </div>

</div>
