


<div class="ax-main-container">
  <div class="ax-main-main" >
    <div class="ax-main-tabs">
        <div class="ax-main-tab"  *ngFor="let tab of tabs" [ngClass]="{'selected': isSelectedTab(tab)}" (click)="selectTab(tab)">
            <a (click)="selectTab(tab)" >
              <span *ngIf="tab.type == 'object'">Script:</span>
              <span *ngIf="tab.type == 'map'">Map:</span>
              {{tab.name}}</a>
        </div>
    </div>
    <div class="ax-main-content">
      <app-script-editor (change)="scriptChanged($event)" *ngIf="selected && selected.type == 'object'" [steps]="selected.steps()"></app-script-editor>
      <app-monitor *ngIf="selected && selected.type == 'monitor'"></app-monitor>
      <app-map-editor  *ngIf="selected && selected.type == 'map'" [rows]="mapName(selected.map())" (mapChange)="mapChanged($event)"></app-map-editor>
    </div>
  </div>

</div>
