<div class="ax-table-container">
  <div class="ax-table-scroller">
    <div class="ax-selector-header">
        <div class="actions"></div>
        <div class="large"><a (click)="sortColumn('name')">Name<span *ngIf="sort.column == 'name' && sort.asc"> &#9650;</span><span *ngIf="sort.column == 'name' && !sort.asc"> &#9660;</span></a></div>
        <div><a (click)="sortColumn('transaction_group')">Transaction group<span *ngIf="sort.column == 'transaction_group' && sort.asc"> &#9650;</span><span *ngIf="sort.column == 'transaction_group' && !sort.asc"> &#9660;</span></a></div>
        <div class="medium"><a (click)="sortColumn('date')">Date modified<span *ngIf="sort.column == 'date' && sort.asc"> &#9650;</span><span *ngIf="sort.column == 'date' && !sort.asc"> &#9660;</span></a></div>
        <div class="small">Timeout [sec]</div>
        <div class="small">Break</div>
        <div class="small">Measure</div>
        <div class="small">Warning [sec]</div>
        <div class="small">Critical [sec]</div>
        <div>Resolution</div>
        <div class="small">Screen</div>
    </div>
    <div class="ax-selector-table" [ngClass]="{'read-write': !readonly}" #tableContainer >
        <cdk-table [dataSource]="filteredData">
            <!-- Name Definition -->
            <ng-container cdkColumnDef="handle"  >
                <cdk-cell *cdkCellDef="let row"  class="actions" >
                  <div *ngIf="editor && isSelectedResolutionWorkingResolution() && !readonly" class="alyvix-actions">
                    <div class="alyvix-icon" draggable="{{editor && isSelectedResolutionWorkingResolution()}}"  (dragstart)="objectDrag($event,row)">
                      <i class="fas fa-arrows-alt"></i>
                    </div>
                    <div class="alyvix-icon ai-draggable clickable" (click)="addToScript(row)"></div>
                    <div class="alyvix-icon clickable" (click)="run(row)">
                        <i class="fas fa-play"></i>
                    </div>
                  </div>

                </cdk-cell>
            </ng-container>

            <!-- Name Definition -->
            <ng-container cdkColumnDef="name" >
                <cdk-cell *cdkCellDef="let row" class="large">
                  <span class="object-preview">{{row.name}}</span>

                  <input #nameInput #name="ngModel" [disabled]="readonly" type="text" class="primary"
                    [ngClass]="{'ng-invalid': datastore.nameValidation(nameInput,row.name) != null  }" spellcheck="false"
                    [ngModel]="row.name" (ngModelChange)="onChangeName(row,$event,nameInput)" (focusout)="confirmName(row,nameInput)" (focus)="saveOriginalName(row)" (keyup)="nameKeyup($event,row)"
                    pattern="[a-zA-Z0-9_\- ]+" />
                  <div *ngIf="hasFocus(nameInput)  && datastore.nameValidation(nameInput,row.name) && (name.dirty || name.touched)" class="name-popover">
                      <div class="name-popover-content">
                        {{ datastore.nameValidation(nameInput,row.name) }}
                      </div>
                  </div>

                </cdk-cell>
            </ng-container>

            <!-- Transaction group Definition -->
            <ng-container cdkColumnDef="transactionGroup">
                <cdk-cell *cdkCellDef="let row"><input [disabled]="readonly" type="text" spellcheck="false" [ngModel]="row.object.measure.group" (ngModelChange)="changeTransactionGroup(row,$event)" />
                </cdk-cell>
            </ng-container>

            <!-- Date modified Definition -->
            <ng-container cdkColumnDef="dateModified">
                <cdk-cell *cdkCellDef="let row" class="medium">{{row.object.date_modified.substring(0,20)}} </cdk-cell>
            </ng-container>

            <!-- Timeout Definition -->
            <ng-container cdkColumnDef="timeout">
                <cdk-cell *cdkCellDef="let row" class="small"><input type="number" [disabled]="readonly"  [ngModel]="row.object.detection.timeout_s" (ngModelChange)="changeTimeout(row,$event)" min="1" /></cdk-cell>
            </ng-container>

            <!-- Break Definition -->
            <ng-container cdkColumnDef="break">
                <cdk-cell *cdkCellDef="let row" class="small"><input [disabled]="readonly" class="regular-checkbox" (click)="breakClick($event,row)" [ngModel]="row.object.detection.break" type="checkbox" /></cdk-cell>
            </ng-container>

            <!-- Measure Definition -->
            <ng-container cdkColumnDef="measure">
                <cdk-cell *cdkCellDef="let row" class="small"><input [disabled]="readonly" class="regular-checkbox" (click)="measureClick($event,row)" [ngModel]="row.object.measure.output" type="checkbox" />
                </cdk-cell>
            </ng-container>

            <!-- Warning Definition -->
            <ng-container cdkColumnDef="warning">
                <cdk-cell *cdkCellDef="let row" class="small"><input [disabled]="readonly" type="number"  [(ngModel)]="row.object.measure.thresholds.warning_s" min="1" />
                </cdk-cell>
            </ng-container>

            <!-- Critical Definition -->
            <ng-container cdkColumnDef="critical">
                <cdk-cell *cdkCellDef="let row" class="small"><input type="number" [disabled]="readonly"  [(ngModel)]="row.object.measure.thresholds.critical_s" min="1" />
                </cdk-cell>
            </ng-container>

            <!-- Resolution Definition -->
            <ng-container cdkColumnDef="resolution">
                <cdk-cell *cdkCellDef="let row">
                  <select *ngIf="selectedResolution === 'All'" [(ngModel)]="row.selectedResolution">
                    <option [ngValue]="resolution" *ngFor="let resolution of objectKeys(row.object.components)">{{resolution}}</option>
                  </select>
                  <span *ngIf="selectedResolution != 'All'">{{row.selectedResolution}}</span>

                </cdk-cell>
            </ng-container>

            <!-- Screen Definition -->
            <ng-container cdkColumnDef="screen">
                <cdk-cell *cdkCellDef="let row" class="small">
                  <img *ngIf="row.object.components[row.selectedResolution] && readonly" [src]="imageFor(row.object.components[row.selectedResolution].screen)">
                  <img *ngIf="row.object.components[row.selectedResolution] && !readonly" src="{{home}}/get_screen_for_selector?object_name={{row.name}}&resolution_string={{row.selectedResolution}}&update={{imageUpdate}}">
                </cdk-cell>
            </ng-container>

            <!-- Header and Row Declarations -->
            <cdk-row (click)="selectRow($event,row)" [ngClass]="{'selected': isSelected(row)}" *cdkRowDef="let row; columns: selectorColumns" >

            </cdk-row>
        </cdk-table>
    </div>
  </div>
</div>

<div class="ax-selector-footer form-group">
    <div class="distribute">
      <div>
          <button class="btn" *ngIf="!isEmptyTable()" (click)="selectAll()">Select all</button>
          <button class="btn" *ngIf="!isEmptyTable()" (click)="deselectAll()">Deselect all</button>
          <button class="btn" *ngIf="isSomethingSelected()" [copy-clipboard]="selectedNames()">Copy name</button>
      </div>
      <div *ngIf="readonly">
          <button class="btn btn-secondary" *ngIf="isSomethingSelected()" (click)="importRows()">Import</button>
      </div>
      <div *ngIf="!readonly && !editor">
          <ng-template [ngTemplateOutlet]="modificationButtons"></ng-template>
      </div>
    </div>
    <div class="distribute" style="margin-top: 5px">
        <div>
            <span class="inline-label" style="margin-left: 7px">Resolution: </span>
            <select class="std-width" [(ngModel)]="selectedResolution" (change)="changeResolution()">
              <option value="All">All</option>
              <option *ngFor="let resolution of resolutions" value="{{resolution}}">{{resolution}}</option>
            </select>
            <span class="inline-label"> Search: </span>
            <input type="text" class="std-width" [(ngModel)]="searchElementQuery" (keyup)="filterData()" spellcheck="false"/>
            <button class="btn" (click)="resetFilters()"><i class="fas fa-times"></i></button>
          </div>
      <div *ngIf="!editor">
          <button class="btn btn-primary" [disabled]="hasError()" (click)="ok()">Ok</button>
          <button class="btn" (click)="cancel()">Cancel</button>
      </div>
      <div *ngIf="!readonly && editor">
          <ng-template [ngTemplateOutlet]="modificationButtons"></ng-template>
      </div>
    </div>
</div>

<ng-template #modificationButtons >
    <span class="inline-label">Delay [sec]</span>
    <input class="small" [(ngModel)]="delay" type="number" (click)="preventClick($event)"  min="0" /> &nbsp;
    <button class="btn btn-secondary" [disabled]="hasError()"  *ngIf="singleSelection()" (click)="regrabObject()">Grab</button>
    <button class="btn btn-secondary" [disabled]="hasError()" (click)="newObject()">Add</button>
    <button class="btn btn-secondary" [disabled]="hasError()" *ngIf="singleSelection() && isSelectedInWorkingResolution() && !editor" (click)="edit()">Edit</button>
    <button class="btn btn-secondary" [disabled]="hasError()" *ngIf="isSomethingSelected()" (click)="duplicate()">Duplicate</button>
    <button class="btn btn-danger" [disabled]="hasError()" *ngIf="isSomethingSelected()" (click)="remove()">Remove</button>
</ng-template>
